<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>显示学生信息</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta charset="UTF-8"/>
  <title>Document</title>
  <link rel="stylesheet" type="text/css" th:href="@{/assets/layui/css/layui.css}"/>
  <link th:href="@{/css/back/main.css}" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" th:src="@{/js/jquery1.9.1.js}"></script>
  <script type="text/javascript" th:src="@{/js/fun.base.js}"></script>
  <script type="text/javascript" th:src="@{/js/script.js}"></script>
  <script th:src="@{/assets/layui/layui.js}"></script>
  <script th:src="@{/assets/plugins/md5.js}"></script>
</head>
<body>
<div id="uploader" class="wu-example">
  <!--用来存放文件信息-->
  <!-- <div id="thelist" class="uploader-list"></div>
   <div class="btns">
       <div id="picker">选择文件</div>
       <button id="ctlBtn" class="btn btn-default">开始上传</button>
   </div>-->
  <div>
    <form th:action="@{/file/upload}" method="post" enctype="multipart/form-data">
      <label class="label">请选择文件</label><input name="file" th:type="file"/>
      <input th:type="submit" th:value="Multipart方式提交文件"/>
    </form>
    <form th:action="@{/file/uploadPa}" method="post" enctype="multipart/form-data">
      <label class="label">请选择文件</label><input name="file" th:type="file"/>
      <input th:type="submit" th:value="Part方式提交文件"/>
    </form>
  </div>
  <div>
    <button onclick="sendXMLHttpRequest()">点击发起XMLHttpRequest</button>
  </div>
  <div>
    <input id="fileName" value=""/>
    <button onclick="download()">下载文件</button>
    <button onclick="download2()">下载文件2</button>
  </div>
  <div id="myDiv">

  </div>
  <div id="imgC">

  </div>
</div>
</body>
<script>
  function download() {
    var xmlhttp;
    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp = new XMLHttpRequest();
    } else {// code for IE6, IE5
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        //  document.getElementById("myDiv").innerHTML = xmlhttp.responseText;
      }
      if (xmlhttp.readyState === 2) {
        xmlhttp.responseType = "blob";
        // console.log(xmlhttp.responseType);
        // debugger;
      }
    }

    xmlhttp.open("GET", "/file/download?fileName=sss", true);
    //xmlhttp.responseType = "blob";
    xmlhttp.onload = function () {
      if (this.status == 200) {
        var blob = this.response;
        var img = document.createElement("img");
        img.onload = function (e) {
          window.URL.revokeObjectURL(img.src);
        };
        img.src = window.URL.createObjectURL(blob);
        $("#imgC").html(img);
      }
    }
    xmlhttp.send();
  }
  function download2() {
    var xmlhttp;
    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp = new XMLHttpRequest();
    } else {// code for IE6, IE5
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
          document.getElementById("myDiv").innerHTML = xmlhttp.responseText;
      }

    }

    xmlhttp.open("GET", "/file/download?fileName=sss", true);
    //xmlhttp.responseType = "blob";
    xmlhttp.onload = function () {
      if (this.status == 200) {
        var blob = this.response;
        var img = document.createElement("img");
        img.onload = function (e) {
          window.URL.revokeObjectURL(img.src);
        };
        img.src = window.URL.createObjectURL(blob);
        $("#imgC").html(img);
      }
    }
    xmlhttp.send();
  }
  function sendXMLHttpRequest() {
    var xmlhttp;
    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp = new XMLHttpRequest();
    } else {// code for IE6, IE5
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        document.getElementById("myDiv").innerHTML = xmlhttp.responseText;
      }
    }
    xmlhttp.open("GET", "/ajax/getTime", true);
    xmlhttp.setRequestHeader("token", "123213423434");
    xmlhttp.send();
  }
</script>
</html>