<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login/css/style.css}"/>
    <script type="text/javascript" th:src="@{/assets/layui/layui.js}"></script>
    <title>注册</title>
</head>
<body >
<div id="clouds">
    <div class="cloud x1"></div>
    <!-- Time for multiple clouds to dance around -->
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>

<div class="container">


    <div >
        <form method="post" th:action="@{/regist}" th:object="${user}">

            <fieldset class="clearfix">

                <p><span class="fontawesome-user"></span>
                    <input type="text" th:field="*{userName}" th:class="${#fields.hasErrors('userName')}?'error'"/></p>

                <p><span class="fontawesome-lock"></span>
                    <input type="password" th:field="*{userPass}" th:class="${#fields.hasErrors('userPass')}?'error'"/></p>
                <p><input type="submit" value="注册"/></p>
            </fieldset>
        </form>

    </div> <!-- end login -->

</div>
<script>
    var laydate; //日期
    var laypage; //分页
    var layer;//弹层
    var table; //表格
    var carousel; //轮播
    var upload; //上传
    var element; //元素操作
    var slider; //滑块
    var $;
    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function () {
        laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , upload = layui.upload //上传
            , element = layui.element //元素操作
            , slider = layui.slider //滑块
            , $ = layui.$;
        loginError();
    });

    function loginError() {
        var error = $('#error');
        if (error) {
            layer.msg("密码错误或用户不存在");
        }
    }
</script>
</body>
</html>