<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>代开票</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="plugins/layui/css/layui.css">
    <script src="plugins/layui/layui.js"></script>
    <script src="plugins/VueJS/vue.min.js"></script>
    <script src="js/ticket/ticketList.js"></script>
    <script src="js/jquery1.9.1.js"></script>
</head>
<body>
<div class="container m-15" id="main">
    <div class="layui-form">
        <div class="layui-col-md12">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <span class="layui-form-mid">票据号</span>
                    <div class="layui-input-inline">
                        <input type="text" id="userName" class="layui-input" placeholder="用户名">
                    </div>
                </div>
                <div class="layui-inline">
                    <span class="layui-form-label">真实姓名</span>
                    <div class="layui-input-inline">
                        <input type="text" id="realName"class="layui-input" placeholder="真实姓名">
                    </div>
                </div>
         
                <div class="layui-inline">
                    <label class="layui-form-label">
                        <button class="layui-btn" type="button" onclick="javasript:vm.query(1)">查询
                        </button>
                    </label>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">
                        <button class="layui-btn" type="button">新增
                        </button>
                    </label>
                </div>
                 <div class="layui-inline">
                    <label class="layui-form-label">
                        <button class="layui-btn" type="button">录入发票原件
                        </button>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div id="idTest"></div>
    <div id="pagination"></div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<div>
<form class="layui-form" action="" >
			<div class="layui-form-item">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">用户名</label>
						<div class="layui-input-inline">
							<input type="text" name="userName" id="mUserName" v-model="user.userName" autocomplete="off" class="layui-input">
						</div>
					</div>

				</div>
			</div>
		</form>
</div>
</body>
</html>