<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxy.study.dao.PermissionDao">
    <resultMap id="permissionMap" type="com.jxy.study.entity.Permission">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="permissionUrl" column="permission_url"/>
        <result property="method" column="method"/>
        <result property="description" column="description"/>

    </resultMap>


    <select id="getById" parameterType="int" resultMap="permissionMap">
        SELECT *
        FROM permission
        WHERE id = #{0}
    </select>
    <select id="getByIds" resultMap="permissionMap">
        SELECT * FROM permission WHERE 1=1
        <if test="ids!=null and ids.size()>0">
            and id in
            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>


</mapper>