<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxy.study.dao.UserDao">
  <resultMap id="userMap" type="com.jxy.study.entity.User">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="password" column="password"/>
    <result property="roleId" column="roleid"/>
  </resultMap>

  <select id="getByName" resultMap="userMap">
			select * from users where name =#{0}
	</select>
  <select id="getById" resultMap="userMap">
			select * from users where id =#{0}
	</select>
  <insert id="addUser">
    insert into users(name,password,roleid)values (#{name},#{password},#{roleId})
  </insert>
</mapper>