ul,li{
  list-style: none;
}
html,body{
  
  font-family: SourceHanSansSC;
}
.history_box{
  background-color: rgb(238, 238, 238);
  height: 100%;
  overflow-y:auto;
  overflow-x: hidden;
  padding: 70px 150px;
 
}
.history_list{
  display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
  -ms-flex-wrap: wrap; 
  flex-wrap:wrap;
  float: left;
}
.history_item{
  width: 300px;
  height: 200px;
  background: #fff;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 30px 25px;
  position: relative;
  cursor: pointer;
}
.history_title{
  margin: 0;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}
.history_desc{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: rgba(153, 153, 153, 1);
}
.unedit{
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 3px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}
.unedit>span{
  display: inline-block;
  color: rgb(230, 64, 64);
}
.unedit .dot{
  width: 20px;
  height: 20px;
  background-color: rgb(230, 64, 64);
  border-radius: 50%;
  margin-right: 5px;
}